*{
    background-color:white;
}

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: gray;
    padding: 10px;

}
.title {
    font-size: 25px;
}

section {
    padding: 20px;
    background-image: url(/Images/Madre\ Teresa\ -\ IA\ png.png);
    background-size: cover;
    overflow: hidden;
    height: 800px;
}

h1 {
    color: black;
    font-size: 30px;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 16px;
    text-align: center;
}
.mb {
    margin-bottom: 20px;
}
input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"] {
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}
footer {
    background-color: #202121;
    padding: 40px;
    text-align: center;
}
.picture {
    width: 160px;
}
.description {
    display: inline-block;
    color: black;
    max-width: 50%;
    margin-left: 40px;
    text-align: center;
}
.description p, .description h3 {
    margin-bottom: 24px;
}
.description h3 {
    font-size: 23px;
}

@media screen and (max-width: 900px) {
    .formcontainer {
        float: none;
        margin: auto;
    }
    .description {
        max-width: none;
    }
}
.topnav {
    overflow: hidden;
    background-color: white;
    text-align: center;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

.topnav a:hover {
    background-color: gray;
    color: black;
    text-align: center;
}

.topnav a.active {
    background-color: #04AA6D;
    color: gray;
    text-align: center;
}
.Biografia {
    color: black;
    text-align: center;
    font-size: bold;
    font-weight: bolder;
}
.Inicio {
    color: black;
    text-align: center;
    font-size: bold;
    font-weight: bolder;
}
#dov{
    text-align: center;
}
.Biografia h3 {
    text-align: center;
}
.Biografia h4{
    text-align: center;
}
.Biografia h5{
    text-align: center;
}
.Biografia p {
    font-size: 10px;
}
main {
    padding: 20px;
}
h2 {
    color: black;
    font-size: 20px;
    margin-top: 0;
}
h3 {
    color: black;
    font-size: 18px;
    margin-top: 20px;
}
p {
    color: black;
    line-height: 1.5;
}
footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    color: black;
}